COMPOSE_PROJECT_NAME=tracking

ZOOKEEPER_PORT=2181
KAFKA_EXTERNAL_PORT=29092
POSTGRES_PORT=5432
REDIS_PORT=6379

POSTGRES_USER=tracking
POSTGRES_PASSWORD=tracking
POSTGRES_DB=tracking

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
ZIPKIN_PORT=9411

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
